* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Entire body of webpage */
body {
    background-color: #d9dcd6;
}
/* Header above "hero" photo */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* Links included in the header */
header h1 {
    display: inline-block;
    font-size: 48px;
}
/* Header */
header h1 .seo {
    color: #d9dcd6;
}
/* Applies to the navbar in the header */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* Applies to the list in the navbar */
header nav ul {
    list-style-type: none;
}
/* List items in the list in the navbar */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* Anchors */
a {
    color: #ffffff;
    text-decoration: none;
}
/* Paragraphs */
p {
    font-size: 16px;
}
/* Large image beneath the header */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* Apply to float left */
.float-left {
    float: left;
    margin-right: 25px;
}
/* Apply to float right */
.float-right {
    float: right;
    margin-left: 25px;
}
/* Information displayed under the large "hero" picture  */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* Search Engine Optimization Textbox */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* Online Reputation Management Textbox */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* Social Media Marketing Textbox */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* Search Engine Optimization Image */
.search-engine-optimization img {
    max-height: 200px;
}
/* Online Reputation Management Image */
.online-reputation-management img {
    max-height: 200px;
}
/* Social Media Marketing Image */
.social-media-marketing img {
    max-height: 200px;
}
/* Search Engine Optimization Header */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Online Reputation Management Header */
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Social Media Marketing Header */
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Applies to the aside with lead, brand awareness, and cost management  */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* Lead Generation in aside */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}
/* Brand Awareness in aside */
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}
/* Benefit Cost in aside */
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/* Lead Generation in aside header */
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* Brand Awareness in aside header */
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* Benefit Cost in aside header */
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* Lead Generation image */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* Brand Awareness image */
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* Benefit Cost image */
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* Footer */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* Footer Header */
.footer h2 {
    font-size: 20px;
}
